@page "/"

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Style="overflow:auto;scrollbar-width:none;">

    <MudScrollbar Selector="@_selectedOption" Width="0" HoverWidth="@_hoverWidth" BorderRadius="0" Hide="true"
                  Color="@(string.IsNullOrEmpty(_pickerColor?.Value) ? _color : _pickerColor.Value)"
                  TrackColor="@(string.IsNullOrEmpty(_pickerTrackColor?.Value) ? _trackColor : _pickerTrackColor.Value)"
                  HoverColor="@_hoverColor?.Value" ContainerHoverColor="@_containerHoverColor?.Value"/>
        <MudGrid >
            <MudItem  xs="12" sm="8">
            <div class="ma-0  id1 " style="height:100dvh; overflow:auto;scrollbar-width:none;">
                <MudGrid>
                    <MudItem xs="12" sm="12" md="12" lg="12" xxl="12" xl="12" Class="d-flex justify-space-between gap-16">
                <MudText  Color="Color.Surface" Style="font-weight:600; font-size:1.5rem;">
                    Choose Category
                </MudText>
                        <MudTextField Style="border-radius:8px;" Class="flex-1 d-flex " @bind-Value="Search" Label="Search" Variant="Variant.Filled" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary" />
                    </MudItem>
                    <MudItem Class="d-flex justify-start"  xs="12" sm="12" md="12" lg="12" xxl="12" xl="12">
                        <MudLink Style="cursor:pointer;">   All Categories</MudLink>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="12" xxl="12" xl="12" >
                       <MudGrid Spacing="1" Justify="Justify.SpaceEvenly">
                            <MudItem xs="4" sm="3" md="2" lg="2" xl="2"  >
                                <div style="height:contain; width:contain;">
                                    <MudCard Class="ma-4" Outlined="true" Style="border-radius:10%;">
                                        <MudImage Class="pa-6"  Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>
                                        <MudText  Align="Align.Center" Style="color:royal purple;" Typo="Typo.h6"> All</MudText>
                                    </MudCard>
                                </div>
                               
                            </MudItem>
                           
                            <MudItem xs="4" sm="3" md="2" lg="2" xl="2">
                                <div style="height:contain; width:contain;">
                                    <MudCard Class="ma-4" Outlined="true" Style="border-radius:10%;">
                                        <MudImage Class="pa-6" Style="border-radius:10%;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>
                                        <MudText  Align="Align.Center" Style="color:royal purple;" Typo="Typo.h6"> All</MudText>
                                    </MudCard>
                                </div>

                            </MudItem>

                            <MudItem xs="4" sm="3" md="2" lg="2" xl="2">
                                <div style="height:contain; width:contain;">
                                    <MudCard Class="ma-4" Outlined="true" Style="border-radius:10%;">
                                        <MudImage Class="pa-6" Style="border-radius:10%;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>
                                        <MudText  Align="Align.Center" Style="color:royal purple;" Typo="Typo.h6"> All</MudText>
                                    </MudCard>
                                </div>

                            </MudItem>

                            <MudItem xs="4" sm="3" md="2" lg="2" xl="2">
                                <div style="height:contain; width:contain;">
                                    <MudCard Class="ma-4" Outlined="true" Style="border-radius:10%;">
                                        <MudImage Class="pa-6" Style="border-radius:10%;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>
                                        <MudText  Align="Align.Center" Style="color:royal purple;" Typo="Typo.h6"> All</MudText>
                                    </MudCard>
                                </div>

                            </MudItem>

                            <MudItem xs="4" sm="3" md="2" lg="2" xl="2">
                                <div style="height:contain; width:contain;">
                                    <MudCard Class="ma-4" Outlined="true" Style="border-radius:10%;">
                                        <MudImage Class="pa-6" Style="border-radius:10%;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>
                                        <MudText  Align="Align.Center" Style="color:royal purple;" Typo="Typo.h6"> All</MudText>
                                    </MudCard>
                                </div>

                            </MudItem>

                            <MudItem xs="4" sm="3" md="2" lg="2" xl="2">
                                <div style="height:contain; width:contain;">
                                    <MudCard Class="ma-4" Outlined="true" Style="border-radius:10%;">
                                        <MudImage Class="pa-6" Style="border-radius:10%;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>
                                        <MudText  Align="Align.Center" Style="color:royal purple;" Typo="Typo.h6"> All</MudText>
                                    </MudCard>
                                </div>
                                
                            </MudItem>
                            

                        </MudGrid>

                    </MudItem>
                    <MudItem xs="12" sm="12" md="12" lg="12" xxl="12" xl="12">
                       <MudGrid Justify="Justify.Center">
                           <MudItem xs="12" sm="12" md="6" lg="4" xl="4" xxl="4">
                                <MudCard Class="rounded-xl" Style="min-height:contain; min-width:contain; max-height:contain; max-width:contain; height:contain;width:contain;" Outlined="true">
                                    <div class="d-flex justify-space-between" style="display:flex; ">
                                        <MudStack  Style="display:flex; flex:30%">
                                            <MudImage Class="pa-2" Style="width:contain;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png" ></MudImage>
                                        </MudStack>
                                        <MudStack Class="pa-4" Style="display:flex; flex:70%">
                                            <MudText  Typo="Typo.h6">Test Main Image</MudText>
                                            <MudText>Phasellus placerat ipsum neque, a congue quam ornare </MudText>
                                            <MudText Typo="Typo.h6">Kes 98,304</MudText>
                                        </MudStack>

                                   </div>  
                                   
                                    <div class="d-flex justify-space-around mt-4" style="display:flex;">

                                        <MudStack Style="display:flex; ">
                                                <MudText> Mood</MudText>
                                                <div>
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                </div>
                                                <MudText> Stack</MudText>
                                                <div>
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                </div>
                                            </MudStack>

                                        <MudStack Style="display:flex; ">
                                                <MudText> Mood</MudText>
                                                <div>
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                </div>
                                                <MudText> Stack</MudText>
                                                <div>
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                                </div>
                                            </MudStack>
                                       

                                    </div>
                                    <div class="d-flex">
                                        <MudButton  Variant="Variant.Filled" Color="Color.Primary" Class="flex-grow-1 ma-4"> Add to Billing</MudButton>
                                    </div>
                                   
                                   
                                      
                               </MudCard>
                           </MudItem>
                       </MudGrid>

                    </MudItem>
                </MudGrid>
            </div>
            </MudItem>

            <MudItem xs="12" sm="4">
            <div class="ma-0  id2" style="height:100dvh; overflow: auto; scrollbar-width:none;">
                  
                        <MudStack Class="pa-4" >
                            <MudCard Class="ma-4" Style="width:contain; height:10dvh;">
                                <MudStack Row="true">
                                <MudStack Style="display:flex; flex:30%;">
                                <MudImage Style="height:10dvh;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>

                                </MudStack>
                            <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:60%;">
                                    <MudText> Cashier </MudText>
                                    <MudText> Gideon Test</MudText>
                                </MudStack>
                            <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:10%;">
                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                </MudStack>
                              </MudStack>
                        
                                </MudCard>
                                
                                <div class="mt-6">
                                    <div class="d-flex justify-start">
                                      <MudText Style="font-weight:700;">Bills </MudText>
                                    </div>
                                    <MudStack>
                            <MudCard Class="ma-4" Style="width:contain; height:10dvh;">
                                <MudStack Row="true">
                                    <MudStack Style="display:flex; flex:30%;">
                                        <MudImage Style="height:10dvh;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>

                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:60%;">
                                        <MudText> Cashier </MudText>
                                        <div class="d-flex justify-space-between align-center">
                                            <MudText> 2 </MudText>
                                            <MudButton Class="ml-6" Variant="Variant.Filled"> notes</MudButton>
                                       </div>
                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:10%;">
                                       <MudText>089</MudText>
                                    </MudStack>
                                </MudStack>

                            </MudCard>
                             <MudCard Class="ma-4" Style="width:contain; height:10dvh;">
                                <MudStack Row="true">
                                    <MudStack Style="display:flex; flex:30%;">
                                        <MudImage Style="height:10dvh;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>

                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:60%;">
                                        <MudText> Cashier </MudText>
                                        <div class="d-flex justify-space-between align-center">
                                            <MudText> 2 </MudText>
                                            <MudButton Class="ml-6" Variant="Variant.Filled"> notes</MudButton>
                                       </div>
                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:10%;">
                                       <MudText>089</MudText>
                                    </MudStack>
                                </MudStack>

                            </MudCard>
                            <MudCard Class="ma-4" Style="width:contain; height:10dvh;">
                                <MudStack Row="true">
                                    <MudStack Style="display:flex; flex:30%;">
                                        <MudImage Style="height:10dvh;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>

                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:60%;">
                                        <MudText> Cashier </MudText>
                                        <div class="d-flex justify-space-between align-center">
                                            <MudText> 2 </MudText>
                                            <MudButton Class="ml-6" Variant="Variant.Filled"> notes</MudButton>
                                        </div>
                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:10%;">
                                        <MudText>089</MudText>
                                    </MudStack>
                                </MudStack>

                            </MudCard>
                            <MudCard Class="ma-4" Style="width:contain; height:10dvh;">
                                <MudStack Row="true">
                                    <MudStack Style="display:flex; flex:30%;">
                                        <MudImage Style="height:10dvh;" Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="/images/shopping-cart-304843_1280.png"></MudImage>

                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:60%;">
                                        <MudText> Cashier </MudText>
                                        <div class="d-flex justify-space-between align-center">
                                            <MudText> 2 </MudText>

                                            <MudButton Class="ml-6" Variant="Variant.Filled"> notes</MudButton>
                                        </div>
                                    </MudStack>
                                    <MudStack Class="d-flex justify-center align-center" Style="display:flex;flex:10%;">
                                        <MudText>089</MudText>
                                    </MudStack>
                                </MudStack>

                            </MudCard>
                                    </MudStack>
                                </div>
                                <MudStack Row="true" Class="d-flex justify-space-between">
                                    <MudStack>
                                        <MudText>Subtotal</MudText>
                                        <MudText>Tax</MudText>
                                        <MudText>Total</MudText>
                                    </MudStack>
                                    <MudStack>
                            <MudText>100</MudText>
                            <MudText>18</MudText>
                            <MudText>118</MudText>
                                    </MudStack>
                                </MudStack>
                                <MudStack Row="true">
                        <MudCard Style="display:flex; flex:30%;" Class="flex-column justify-center">
                            <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                       <MudText>Cash</MudText>
                                    </MudCard>

                        <MudCard Style="display:flex; flex:30%;" Class="flex-column justify-center">
                            <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                                       <MudText>Card</MudText>
                                    </MudCard>

                        <MudCard Style="display:flex; flex:30%;" Class="flex-column justify-center">
                            <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Default" />
                            <MudText>Mpesa</MudText>
                        </MudCard>
                                </MudStack>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class=" flex-grow-1 ma-4">Complete Order</MudButton>
                        </MudStack>
                 
                </div>
            </MudItem>

           
        </MudGrid>

</MudContainer>

@code{
    string _selectedOption = "";
    string Search { get; set; }
    int? _hoverWidth;
    int _borderRadius = 0;
    string _color = "primary";
    MudColor _pickerColor;
    string _trackColor = "default";
    MudColor _pickerTrackColor;
    MudColor _hoverColor;
    MudColor _containerHoverColor;
    bool _hide;
}
